body{
  font-family: 'Jost', sans-serif;  
}

.vertically-aligned-text{
  display: flex;
  justify-content: center;
  align-items: center;        
  font-size: 3em;
}

.small-flex-child{
  flex: 50%;
  margin: 30px;
  height: 350px;

  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  align-items: center;
}

.content-box{
  border-radius: 5px;
  text-align: center;
  border: 0.5px solid black;
}

.ok{
  background-color: rgb(43, 161, 32);
  color: white;
}

.bad{
  background-color: #AB2346;
  color: white;
}

.blur-filter{
  filter: blur(10px);
}

.icon-container{
  background-color: #8EB1C7;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  position: relative;
}

.icon-container img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#loading-screen{
  background-color: rgba(255, 255, 255, 0.658);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  align-items: center;
}

#title{
  text-align: center;
  margin: 100px;
  font-weight: 600;
  font-size: 5em;
}

#temperature-values{
  display: flex;
}

#temperature-status{
  margin: 30px;
  height: 150px;

  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  align-items: center;
  
  border-radius: 5px;
  text-align: center;
  border: 0.5px solid black;
}
